{{extend 'layout.html'}}
{{=form}}
<!-- Prevent submission on Enter -->
<script type="text/javascript">
$(document).ready(function() {
    $('input').live("keypress", function(e) {
    /* ENTER PRESSED*/
    if (e.keyCode == 13) {
    /* FOCUS ELEMENT */
    var inputs = $(this).parents("form").eq(0).find(":input");
    var idx = inputs.index(this);
     
    if (idx == inputs.length - 1) {
    inputs[0].select()
    } else {
    inputs[idx + 1].focus(); // handles submit buttons
    inputs[idx + 1].select();
    }
    return false;
    }
    });
    $(window).keypress(function(event) {
        if (!(event.which == 115 && event.ctrlKey) && !(event.which == 19)) return true;
        $("input[type=submit]").click();
        event.preventDefault();
        return false;
    });
});
</script>
