{{extend 'layout.html'}}

<style>
.flag-ecf {
    background-color: #f4cccc;
}
</style>

<div
{{if "flags" in globals():}}
     class="{{=(' '.join(['flag-'+f.lower() for f in flags]))}}"
{{pass}}
>
{{=form}}
</div>
{{
if 'links' in vars():
    for link in links:
        response.write(SPAN(link, _style='margin:10px;'))
    pass
pass
}}
<!-- Prevent submission on Enter -->
<script type="text/javascript">
$(document).ready(function() {
    $('input,select').live("keypress", function(e) {
    /* ENTER PRESSED*/
    if (e.keyCode == 13) {
    /* FOCUS ELEMENT */
    var inputs = $(this).parents("form").eq(0).find("input,select");
    console.log(inputs);
    var idx = inputs.index(this);
     
    if (idx == inputs.length - 1) {
    inputs[0].select()
    } else {
    inputs[idx + 1].focus(); // handles submit buttons
    }
    return false;
    }
    });
    $(window).keypress(function(event) {
        if (!(event.which == 115 && event.ctrlKey) && !(event.which == 19)) return true;
        $("input[type=submit]").click();
        event.preventDefault();
        return false;
    });
});
</script>

{{if "device_id" in globals():}}
<div style="margin-top: 25px;">
    <form action="{{=URL('verify', vars=dict(id=device_id))}}" method="post">
        <button type="submit">Verify Device</button>
    </form>
    {{if verification is not None:}}
    <div>Last verified <script type="text/javascript">d = new Date('{{=verification.date.isoformat()}}Z'); document.write(d.toLocaleDateString() + " " + d.toLocaleTimeString())</script> by {{=verification.username}}.</div>
    {{pass}}
</div>
{{pass}}
