{{extend 'layout.html'}}
<h4>Interface</h4>
<p>There are two main "modes". Inventory Mode and Charges mode. You can know what mode you are in by looking to see what the Bold White text says in the far left of the menu bar. You can switch modes by clicking the mode you wish to be in on the menu bar.</p>
<p>You can access any of the system's functions from the menu bar above. The functions work identically for both modes. The pages are fairly self-explanatory. You may navigate to the main page at any time by clicking on the Blue {{=response.title}} link. You may view a total list of devices or charges by clicking the blue number of devices on the main page.</p>
<h4>Using Forms</h4>
<p>The Inventory system makes use of several forms that vary in their usage. The Quick Search fields on the main page search for records matching part or all or the search query. For instance, a search for <b>mi</b> would match <b>mi</b>, <b>mine</b>, and <b>mice</b>. This search is also <i>case-insensitive</i>.</p>
<p>If more than one record is matched by the query, a list of all matching records shown. If only one matching record is found, an edit form for that record is shown.</p>
<p>The Search (Advanced Search) form will return all records unless a search query is added. You can select several filters for the different elements of a record.</p>
<h4>Special Keys</h4>
<p>The Add and Edit forms differ from the rest in that a press of the Enter key will not submit the query. This is to allow USB barcode scanners to work properly. Instead a press of the Enter key will act as a Tab, moving to the next field. An exception to this rule is the Charges field. Pressing Enter will create another field for entry. In addition, on these fields pressing Ctrl+s will submit the form.</p>
<h4>Charges Mode</h4>
<p>You must enter a charge in a very specific format. The format is {description}:{price} (Without the braces.) Do not enter a dollar sign for the price. Examples:</p>
<ul>
<b>Correct:</b><br />
<li><code>Broken Computer:1000</code></li>
<li><code>Dead Mouse:25.50</code></li>
<b>Bad:</b><br />
<li><code>Dead Car:Chevy:200</code> - Cannot use : in description</li>
<li><code>Ripped paper:$.05</code> - Cannot use $ in price</li>
</ul>
<p>After adding or editing a charge record, you will be taken to a report page that can be printed. This report page contains links to both the corresponding device and charge records.</p>
<p>When you are on the edit page for a charge record, there are links at the bottom of the page to generate a report and go to the corresponding device record.</p>
<p>When you are editing a device record, a link at the bottom of the page will let you search for any charges associated with that device.</p>
<h4>Problems?</h4>
You may come across an <b>Internal Error</b> page where you are issued a ticket. If this happens please inform your System Administrator.
