{{extend 'layout.html'}}
<h4>Interface</h4>
<p>You can access any of the Inventory system's functions from the menu bar above. The pages are fairly self-explanatory. You may navigate to the main page at any time by clicking on the Blue {{=response.title}} link. You may view a total list of devices by clicking the blue number of devices on the main page.</p>
<h4>Using Forms</h4>
<p>The Inventory system makes use of several forms that vary in their usage. The Quick Search fields on the main page search for records matching part or all or the search query. For instance, a search for <b>mi</b> would match <b>mi</b>, <b>mine</b>, and <b>mice</b>. This search is also <i>case-insensitive</i>.</p>
<p>If more than one record is matched by the query, a list of all matching records shown. If only one matching record is found, an edit form for that record is shown.</p>
<p>The Search (Advanced Search) form will return all records unless a search query is added. You can select several filters for the different elements of a record.</p>
<h4>Special Keys</h4>
<p>The Add and Edit forms differ from the rest in that a press of the Enter key will not submit the query. This is to allow USB barcode scanners to work properly. Instead a press of the Enter key will act as a Tab, moving to the next field. In addition, on these fields pressing Ctrl+s will submit the form.</p>
<h4>Problems?</h4>
You may come across an <b>Internal Error</b> page where you are issued a ticket. If this happens please inform your System Administrator.
