#mainheader {
    color: #0069d6;
}

#mainheader a:link {
    text-decoration:none;
}
#mainheader a:visited {
    text-decoration:none;
}
#mainheader a:hover {
    text-decoration:none;
}
#mainheader a:active {
    text-decoration:none;
}

.header .container {
    border-bottom: 1px solid #ddd;
}

.record {
    padding: 5px;
    width: 50px;
}

#searchsidebar {
    text-align: center;
    border: 1px solid #ddd;
    overflow: auto;
}

#searchsidebar input {
    width: auto;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#searchsidebar span {
    float: left;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}
