b {
    font-weight: bold;
}

#mainheader {
    color: #0069d6;
}

#mainheader a:link {
    text-decoration:none;
}
#mainheader a:visited {
    text-decoration:none;
}
#mainheader a:hover {
    text-decoration:none;
}
#mainheader a:active {
    text-decoration:none;
}

.header .container {
    border-bottom: 1px solid #ddd;
}

.record {
    padding: 5px;
    width: 50px;
}

#searchsidebar {
    text-align: center;
    border: 1px solid #ddd;
    overflow: auto;
}

#searchsidebar input {
    width: auto;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#searchsidebar span {
    float: left;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

#wrapper, #wrapper h1 {
    text-align: center;
}

#wrapper .container div {
    border: 1px solid #000;
    margin: 0;
    margin-bottom: -1px;
    margin-left: -1px;
    height: 25px;
}

.signature {
    text-align: left;
    padding: 5px;
}

.charge-report {
    min-width: 100%;
    min-height: 100%;
}

.container {
    width: 100%;
    max-width: 960px;
}

.charge-report table {
    width: 100%;
}

.charge-report table thead {
    height: 35px;
}

.charge-report table tr {
    height: 25px;
}

.charge-report table td, .charge-report table th {
    border: 1px solid #000;
    padding: 5px;
}

.charge-report table th {
    font-size: 1.5em;
    font-weight: bold;
}

.charge-report .columns {
    width: 99% !important;
    margin-right: 0px;
}
